body {
  width: 300px;
  display: flex;
  height: 200px;
}

#calculadora {
  border: solid 1px;
  display: flex;
  flex-direction: column;
}

#teclado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
